$link_font: #2C3DBF
$titles: #34495e

html
  *
    margin: 0px
    padding: 0px

body
  background-color: white
  h2,h3,h4,h5
    color: $titles
    a 
      color: $titles
      text-decoration: none
  a
    color: $link_font


#posts_container
  font-size: 11pt
  background-color: white

@media screen and (max-width: 600px)
  *
    padding: 0px !important
  #posts_container
    padding: 30px !important
  .panel
    width: auto !important
    float: none !important
  .content
    float: none !important
  .emphasis
    padding: 5px !important

.post
  margin-top: 20px
  p
    text-indent: 20px
    margin-bottom: 10px
  h2
    font-size: 22pt
    font-family: Impact
    margin-bottom: 15px
  h3
    font-family: Impact
    margin: 10px 0px 10px 0px
  article
    padding-left: 15px
    ul
      padding-left: 50px
      margin-bottom: 20px

.comments
  h3
    margin-top: 15px
  #comment_box
    color: black
    margin-left: 20px

.syntaxhighlighter .toolbar
  visibility: hidden

.back_link
  font-size: 24pt
  color: lightgray
  float: right
  text-decoration: none

.content
  max-width: 50em
  margin: auto
  position: relative
  height: 100%
  font-family: "Open Sans","Microsoft YaHei", "Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Arial,sans-serif

.emphasis
  margin-bottom: 10px
  color: gray
  border: solid 1px lightgray
  border-radius: 5px
  width: 90%
  padding: 10px
  margin-left: 20px
  font-family: "Andale Mono"
 
.em2
  font-family: "Andale Mono"
  background-color: #eeeeee
  padding: 0 1px

