@charset: "UTF-8";

$background: white
$font: black
$link_font: #2C3DBF
$titles: #34495e
$panel: #8CBEC6

@mixin round-corners($amount)
  border-radius: $amount
  -moz-border-radius: $amount
  -webkit-border-radius: $amount

html
  *
    margin: 0px
    padding: 0px

hr
  margin-bottom: 40px
  padding: 0px 20px 0px 20px 

html,body
  height: 100%

body
  background-color: $background
  color: $font
  h2,h3,h4,h5
    a 
      color: $titles
      text-decoration: none
  a
    color: $link_font


#posts_container
  font-size: 11pt
  background-color: white
  padding: 40px 60px 0px 40px

@media screen and (max-width: 600px)
  *
    padding: 0px !important
  #posts_container
    padding: 30px !important
  .panel
    width: auto !important
    float: none !important
  .content
    float: none !important

.post
  padding: 10px 0px 20px 20px
  p
    text-indent: 20px
    margin-bottom: 10px
  h2
    font-size: 22pt
    font-family: impact
    margin-bottom: 15px
  h3
    margin: 10px 0px 10px 0px
  article
    padding-left: 15px
    ul
      padding-left: 50px
      margin-bottom: 20px

.comments
  h3
    margin-top: 15px
  #comment_box
    color: $font
    margin-left: 20px

.syntaxhighlighter .toolbar
  visibility: hidden

.content
  max-width: 55em
  margin: auto
  position: relative
  height: 100%
  font-family: "Open Sans","Microsoft YaHei","微软雅黑","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Arial,sans-serif

