$background: #eee
$font: black
$link_font: #2c3e50
$titles: #34495e

@mixin round-corners($amount)
  border-radius: $amount
  -moz-border-radius: $amount
  -webkit-border-radius: $amount

html
  *
    margin: 0px
    padding: 0px

hr
  margin-bottom: 40px
  padding: 0px 20px 0px 20px 

body
  background-color: $background
  color: $font
  font-family: Helvetica
  font-size: 11pt
  h2,h3,h4,h5
    color: $titles
  a
    text-decoration: none
    color: $link_font

.content
  margin: auto
  max-width: 50em

#posts_container
  background-color: white
  border: solid 1px lightgray
  margin: 20px 0px 20px 0px
  padding: 10px
  @include round_corners(5px)

.post
  padding: 10px 0px 20px 20px
  p
    text-indent: 20px
    margin-bottom: 10px
  h2
    font-size: 24px
    margin-bottom: 15px
  h3
    margin: 10px 0px 10px 0px
  article
    padding-left: 15px
    ul
      padding-left: 50px
      margin-bottom: 20px

.comments
  h3
    margin-top: 15px
  #comment_box
    color: $font
    margin-left: 20px

