$panel_color_font: gray

.panel
  width: 15em
  position: fixed
  vertical-align: top
  height: 100%
  display: inline-block
  background-color: $panel
  padding: 250px 20px 0px 20px
  font-family: arial
  font-size: 10pt
  color: $panel_color_font
  letter-spacing: 1px
  a
    color: $panel_color_font
  border: solid lightgray
  border-width: 0px 2px 0px 0px
  box-shadow: inset 8px 0px 12px -7px rgba(0, 0, 0, 0.6)
  img
    width: 4.5em
    height: 4.5em
    border-radius: 35px
    border: inherit
    border-width: 1px 
    float: left
    margin-right: 15px
  .panel_description
    padding-top: 5px

.panel:first-letter
  font-size: 190%
  font-weight: bold
  float: left
  color: black
  padding: 0px 5px 0 0px
 

